<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.reception.TCarPassengerMapper" >
  <resultMap id="BaseResultMap" type="com.jk.entity.reception.TCarPassenger" >
    <id column="t_id" property="tId" jdbcType="VARCHAR" />
    <result column="t_linkman" property="tLinkman" jdbcType="VARCHAR" />
    <result column="t_sex" property="tSex" jdbcType="VARCHAR" />
    <result column="t_phone" property="tPhone" jdbcType="VARCHAR" />
    <result column="t_point" property="tPoint" jdbcType="VARCHAR" />
    <result column="t_destination" property="tDestination" jdbcType="VARCHAR" />
    <result column="t_depart" property="tDepart" jdbcType="VARCHAR" />
    <result column="t_num_people" property="tNumPeople" jdbcType="VARCHAR" />
    <result column="t_fare" property="tFare" jdbcType="VARCHAR" />
    <result column="t_explain" property="tExplain" jdbcType="VARCHAR" />
    <result column="t_issuer" property="tIssuer" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    t_id, t_linkman, t_sex, t_phone, t_point, t_destination, t_depart, t_num_people, 
    t_fare, t_explain, t_issuer
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jk.entity.reception.TCarPassenger" >
    select
    <include refid="Base_Column_List" />
    from t_car_passenger

  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_car_passenger
    where t_id = #{tId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.util.List" >
    delete from t_car_passenger
    where t_id in
    <foreach collection="list" item="ids" separator="," open="(" close=")" >
      '${ids}'
    </foreach>
  </delete>

  <insert id="insert" parameterType="com.jk.entity.reception.TCarPassenger" >
    insert into t_car_passenger (t_id, t_linkman, t_sex, 
      t_phone, t_point, t_destination, 
      t_depart, t_num_people, t_fare, 
      t_explain, t_issuer)
    values (#{tId,jdbcType=VARCHAR}, #{tLinkman,jdbcType=VARCHAR}, #{tSex,jdbcType=VARCHAR}, 
      #{tPhone,jdbcType=VARCHAR}, #{tPoint,jdbcType=VARCHAR}, #{tDestination,jdbcType=VARCHAR}, 
      #{tDepart,jdbcType=VARCHAR}, #{tNumPeople,jdbcType=VARCHAR}, #{tFare,jdbcType=VARCHAR}, 
      #{tExplain,jdbcType=VARCHAR}, #{tIssuer,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jk.entity.reception.TCarPassenger" >
    insert into t_car_passenger
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tId != null" >
        t_id,
      </if>
      <if test="tLinkman != null" >
        t_linkman,
      </if>
      <if test="tSex != null" >
        t_sex,
      </if>
      <if test="tPhone != null" >
        t_phone,
      </if>
      <if test="tPoint != null" >
        t_point,
      </if>
      <if test="tDestination != null" >
        t_destination,
      </if>
      <if test="tDepart != null" >
        t_depart,
      </if>
      <if test="tNumPeople != null" >
        t_num_people,
      </if>
      <if test="tFare != null" >
        t_fare,
      </if>
      <if test="tExplain != null" >
        t_explain,
      </if>
      <if test="tIssuer != null" >
        t_issuer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tId != null" >
        #{tId,jdbcType=VARCHAR},
      </if>
      <if test="tLinkman != null" >
        #{tLinkman,jdbcType=VARCHAR},
      </if>
      <if test="tSex != null" >
        #{tSex,jdbcType=VARCHAR},
      </if>
      <if test="tPhone != null" >
        #{tPhone,jdbcType=VARCHAR},
      </if>
      <if test="tPoint != null" >
        #{tPoint,jdbcType=VARCHAR},
      </if>
      <if test="tDestination != null" >
        #{tDestination,jdbcType=VARCHAR},
      </if>
      <if test="tDepart != null" >
        #{tDepart,jdbcType=VARCHAR},
      </if>
      <if test="tNumPeople != null" >
        #{tNumPeople,jdbcType=VARCHAR},
      </if>
      <if test="tFare != null" >
        #{tFare,jdbcType=VARCHAR},
      </if>
      <if test="tExplain != null" >
        #{tExplain,jdbcType=VARCHAR},
      </if>
      <if test="tIssuer != null" >
        #{tIssuer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.entity.reception.TCarPassenger" >
    update t_car_passenger
    <set >
      <if test="tLinkman != null" >
        t_linkman = #{tLinkman,jdbcType=VARCHAR},
      </if>
      <if test="tSex != null" >
        t_sex = #{tSex,jdbcType=VARCHAR},
      </if>
      <if test="tPhone != null" >
        t_phone = #{tPhone,jdbcType=VARCHAR},
      </if>
      <if test="tPoint != null" >
        t_point = #{tPoint,jdbcType=VARCHAR},
      </if>
      <if test="tDestination != null" >
        t_destination = #{tDestination,jdbcType=VARCHAR},
      </if>
      <if test="tDepart != null" >
        t_depart = #{tDepart,jdbcType=VARCHAR},
      </if>
      <if test="tNumPeople != null" >
        t_num_people = #{tNumPeople,jdbcType=VARCHAR},
      </if>
      <if test="tFare != null" >
        t_fare = #{tFare,jdbcType=VARCHAR},
      </if>
      <if test="tExplain != null" >
        t_explain = #{tExplain,jdbcType=VARCHAR},
      </if>
      <if test="tIssuer != null" >
        t_issuer = #{tIssuer,jdbcType=VARCHAR},
      </if>
    </set>
    where t_id = #{tId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.entity.reception.TCarPassenger" >
    update t_car_passenger
    set t_linkman = #{tLinkman,jdbcType=VARCHAR},
      t_sex = #{tSex,jdbcType=VARCHAR},
      t_phone = #{tPhone,jdbcType=VARCHAR},
      t_point = #{tPoint,jdbcType=VARCHAR},
      t_destination = #{tDestination,jdbcType=VARCHAR},
      t_depart = #{tDepart,jdbcType=VARCHAR},
      t_num_people = #{tNumPeople,jdbcType=VARCHAR},
      t_fare = #{tFare,jdbcType=VARCHAR},
      t_explain = #{tExplain,jdbcType=VARCHAR},
      t_issuer = #{tIssuer,jdbcType=VARCHAR}
    where t_id = #{tId,jdbcType=VARCHAR}
  </update>
</mapper>