<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.reception.TEnshrineMapper" >
  <resultMap id="BaseResultMap" type="com.jk.entity.reception.TEnshrine" >
    <id column="t_id" property="tId" jdbcType="VARCHAR" />
    <result column="h_id" property="hId" jdbcType="VARCHAR" />
    <result column="p_id" property="pId" jdbcType="VARCHAR" />
    <result column="t_time" property="tTime" jdbcType="VARCHAR" />
    <result column="t_type" property="tType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >

    </where>
  </sql>
  <sql id="Base_Column_List" >
    t_id, h_id, p_id, t_time, t_type
  </sql>

  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jk.entity.reception.TEnshrine" >
    select
    <include refid="Base_Column_List" />
    from t_enshrine
    <where>
      <if test="pId != null and pId !=''" >
        and p_id = #{pId,jdbcType=VARCHAR}
      </if>
      <if test="hId != null and hId !=''" >
        and h_id = #{hId,jdbcType=VARCHAR}
      </if>
      <if test="tType != null and tType !=''" >
        and t_type = #{tType,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_enshrine
    where t_id = #{tId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_enshrine
    where t_id = #{tId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jk.entity.reception.TEnshrine" >
    insert into t_enshrine (t_id, h_id, p_id, 
      t_time, t_type)
    values (#{tId,jdbcType=VARCHAR}, #{hId,jdbcType=VARCHAR}, #{pId,jdbcType=VARCHAR}, 
      #{tTime,jdbcType=VARCHAR}, #{tType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jk.entity.reception.TEnshrine" >
    insert into t_enshrine
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tId != null" >
        t_id,
      </if>
      <if test="hId != null" >
        h_id,
      </if>
      <if test="pId != null" >
        p_id,
      </if>
      <if test="tTime != null" >
        t_time,
      </if>
      <if test="tType != null" >
        t_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tId != null" >
        #{tId,jdbcType=VARCHAR},
      </if>
      <if test="hId != null" >
        #{hId,jdbcType=VARCHAR},
      </if>
      <if test="pId != null" >
        #{pId,jdbcType=VARCHAR},
      </if>
      <if test="tTime != null" >
        #{tTime,jdbcType=VARCHAR},
      </if>
      <if test="tType != null" >
        #{tType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.entity.reception.TEnshrine" >
    update t_enshrine
    <set >
      <if test="hId != null" >
        h_id = #{hId,jdbcType=VARCHAR},
      </if>
      <if test="pId != null" >
        p_id = #{pId,jdbcType=VARCHAR},
      </if>
      <if test="tTime != null" >
        t_time = #{tTime,jdbcType=VARCHAR},
      </if>
      <if test="tType != null" >
        t_type = #{tType,jdbcType=VARCHAR},
      </if>
    </set>
    where t_id = #{tId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.entity.reception.TEnshrine" >
    update t_enshrine
    set h_id = #{hId,jdbcType=VARCHAR},
      p_id = #{pId,jdbcType=VARCHAR},
      t_time = #{tTime,jdbcType=VARCHAR},
      t_type = #{tType,jdbcType=VARCHAR}
    where t_id = #{tId,jdbcType=VARCHAR}
  </update>

  <!-- 根据用户id和活动id查询收藏信息 -->
  <select id="selEnshrine" resultMap="BaseResultMap" parameterType="com.jk.entity.reception.TEnshrine" >
    select
    <include refid="Base_Column_List" />
    from t_enshrine
    where h_id = #{hId,jdbcType=VARCHAR} and p_id = #{pId,jdbcType=VARCHAR} and t_type = '2'
  </select>

</mapper>