<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.reception.TEnshrineMapper">
  <resultMap id="BaseResultMap" type="com.jk.entity.reception.TEnshrine">
    <id column="t_id" jdbcType="VARCHAR" property="tId" />
    <result column="h_id" jdbcType="VARCHAR" property="hId" />
    <result column="p_id" jdbcType="VARCHAR" property="pId" />
    <result column="t_time" jdbcType="TIMESTAMP" property="tTime" />
    <result column="t_type" jdbcType="VARCHAR" property="tType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    t_id, h_id, p_id, t_time, t_type
  </sql>
  <select id="selectByExample" parameterType="com.jk.entity.reception.TEnshrineExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from t_enshrine
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_enshrine
    where t_id = #{tId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_enshrine
    where t_id = #{tId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jk.entity.reception.TEnshrine">
    insert into t_enshrine (t_id, h_id, p_id, 
      t_time, t_type)
    values (#{tId,jdbcType=VARCHAR}, #{hId,jdbcType=VARCHAR}, #{pId,jdbcType=VARCHAR}, 
      #{tTime,jdbcType=TIMESTAMP}, #{tType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jk.entity.reception.TEnshrine">
    insert into t_enshrine
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tId != null">
        t_id,
      </if>
      <if test="hId != null">
        h_id,
      </if>
      <if test="pId != null">
        p_id,
      </if>
      <if test="tTime != null">
        t_time,
      </if>
      <if test="tType != null">
        t_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tId != null">
        #{tId,jdbcType=VARCHAR},
      </if>
      <if test="hId != null">
        #{hId,jdbcType=VARCHAR},
      </if>
      <if test="pId != null">
        #{pId,jdbcType=VARCHAR},
      </if>
      <if test="tTime != null">
        #{tTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tType != null">
        #{tType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.entity.reception.TEnshrine">
    update t_enshrine
    <set>
      <if test="hId != null">
        h_id = #{hId,jdbcType=VARCHAR},
      </if>
      <if test="pId != null">
        p_id = #{pId,jdbcType=VARCHAR},
      </if>
      <if test="tTime != null">
        t_time = #{tTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tType != null">
        t_type = #{tType,jdbcType=VARCHAR},
      </if>
    </set>
    where t_id = #{tId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.entity.reception.TEnshrine">
    update t_enshrine
    set h_id = #{hId,jdbcType=VARCHAR},
      p_id = #{pId,jdbcType=VARCHAR},
      t_time = #{tTime,jdbcType=TIMESTAMP},
      t_type = #{tType,jdbcType=VARCHAR}
    where t_id = #{tId,jdbcType=VARCHAR}
  </update>
</mapper>