<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.reception.TEvaluateMapper" >
  <resultMap id="BaseResultMap" type="com.jk.entity.reception.TEvaluate" >
    <id column="t_id" property="tId" jdbcType="VARCHAR" />
    <result column="p_id" property="pId" jdbcType="VARCHAR" />
    <result column="t_other_id" property="tOtherId" jdbcType="VARCHAR" />
    <result column="t_content" property="tContent" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="t_picture" property="tPicture" jdbcType="VARCHAR" />
    <result column="t_anonymity" property="tAnonymity" jdbcType="VARCHAR" />
    <result column="t_type" property="tType" jdbcType="VARCHAR" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="nickName" property="nickName" jdbcType="VARCHAR" />
    <result column="f_id" property="fId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >

    </where>
  </sql>
  <sql id="Base_Column_List" >
    t_id, p_id, t_other_id, t_content, create_time, t_picture, t_anonymity, t_type,f_id
  </sql>

  <sql id="EvaluateData" >
    e.t_id, e.p_id, e.t_other_id, e.t_content, e.create_time,
    e.t_picture, e.t_anonymity, e.t_type, p.nickName as nickName, p.avatarUrl as avatar
  </sql>

  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jk.entity.reception.TEvaluateExample" >
    select
    <include refid="EvaluateData" />
    from t_evaluate e
    left join t_personage p
    on e.p_id = p.t_id
    <where>
      <if test="tOtherId != null and tOtherId !=''" >
        and e.t_other_id = #{tOtherId,jdbcType=VARCHAR}
      </if>
    </where>
    order by create_time desc
  </select>

  <select id="selTEvaluateListByPort" resultType="java.util.Map" parameterType="com.jk.entity.reception.TEvaluate" >
    select e.create_time,pe.nickName,e.t_content as eContent,i.t_content,pe.avatarUrl,i.t_id as tId,e.t_type as tType,
    s.t_explain ,s.t_id as sId
    from t_evaluate e
    left join t_personage pe on e.p_id=pe.t_id
    left join t_information i on e.t_other_id=i.t_id
    left join t_store s on e.t_other_id=s.t_id
    where e.f_id=#{fId,jdbcType=VARCHAR}
    order by e.create_time desc
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_evaluate
    where t_id = #{tId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_evaluate
    where t_id = #{tId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jk.entity.reception.TEvaluate" >
    insert into t_evaluate (t_id, p_id, t_other_id, 
      t_content, create_time, t_picture, 
      t_anonymity, t_type)
    values (#{tId,jdbcType=VARCHAR}, #{pId,jdbcType=VARCHAR}, #{tOtherId,jdbcType=VARCHAR}, 
      #{tContent,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{tPicture,jdbcType=VARCHAR}, 
      #{tAnonymity,jdbcType=VARCHAR}, #{tType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jk.entity.reception.TEvaluate" >
    insert into t_evaluate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tId != null" >
        t_id,
      </if>
      <if test="pId != null" >
        p_id,
      </if>
      <if test="tOtherId != null" >
        t_other_id,
      </if>
      <if test="tContent != null" >
        t_content,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="tPicture != null" >
        t_picture,
      </if>
      <if test="tAnonymity != null" >
        t_anonymity,
      </if>
      <if test="tType != null" >
        t_type,
      </if>
      <if test="fId != null" >
        f_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tId != null" >
        #{tId,jdbcType=VARCHAR},
      </if>
      <if test="pId != null" >
        #{pId,jdbcType=VARCHAR},
      </if>
      <if test="tOtherId != null" >
        #{tOtherId,jdbcType=VARCHAR},
      </if>
      <if test="tContent != null" >
        #{tContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="tPicture != null" >
        #{tPicture,jdbcType=VARCHAR},
      </if>
      <if test="tAnonymity != null" >
        #{tAnonymity,jdbcType=VARCHAR},
      </if>
      <if test="tType != null" >
        #{tType,jdbcType=VARCHAR},
      </if>
      <if test="fId != null" >
        #{fId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.entity.reception.TEvaluate" >
    update t_evaluate
    <set >
      <if test="pId != null" >
        p_id = #{pId,jdbcType=VARCHAR},
      </if>
      <if test="tOtherId != null" >
        t_other_id = #{tOtherId,jdbcType=VARCHAR},
      </if>
      <if test="tContent != null" >
        t_content = #{tContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="tPicture != null" >
        t_picture = #{tPicture,jdbcType=VARCHAR},
      </if>
      <if test="tAnonymity != null" >
        t_anonymity = #{tAnonymity,jdbcType=VARCHAR},
      </if>
      <if test="tType != null" >
        t_type = #{tType,jdbcType=VARCHAR},
      </if>
    </set>
    where t_id = #{tId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.entity.reception.TEvaluate" >
    update t_evaluate
    set p_id = #{pId,jdbcType=VARCHAR},
      t_other_id = #{tOtherId,jdbcType=VARCHAR},
      t_content = #{tContent,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      t_picture = #{tPicture,jdbcType=VARCHAR},
      t_anonymity = #{tAnonymity,jdbcType=VARCHAR},
      t_type = #{tType,jdbcType=VARCHAR}
    where t_id = #{tId,jdbcType=VARCHAR}
  </update>
</mapper>