<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.reception.TInformationMapper">
  <resultMap id="BaseResultMap" type="com.jk.entity.reception.TInformation">
    <id column="t_id" jdbcType="VARCHAR" property="tId" />
    <result column="t_content" jdbcType="VARCHAR" property="tContent" />
    <result column="t_img" jdbcType="VARCHAR" property="tImg" />
    <result column="t_coordinate" jdbcType="VARCHAR" property="tCoordinate" />
    <result column="t_praise" jdbcType="INTEGER" property="tPraise" />
    <result column="p_id" jdbcType="VARCHAR" property="pId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    t_id, t_content, t_img, t_coordinate, t_praise, p_id
  </sql>
  <select id="selectByExample" parameterType="com.jk.entity.reception.TInformationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from t_information
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_information
    where t_id = #{tId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_information
    where t_id = #{tId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jk.entity.reception.TInformation">
    insert into t_information (t_id, t_content, t_img, 
      t_coordinate, t_praise, p_id
      )
    values (#{tId,jdbcType=VARCHAR}, #{tContent,jdbcType=VARCHAR}, #{tImg,jdbcType=VARCHAR}, 
      #{tCoordinate,jdbcType=VARCHAR}, #{tPraise,jdbcType=INTEGER}, #{pId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jk.entity.reception.TInformation">
    insert into t_information
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tId != null">
        t_id,
      </if>
      <if test="tContent != null">
        t_content,
      </if>
      <if test="tImg != null">
        t_img,
      </if>
      <if test="tCoordinate != null">
        t_coordinate,
      </if>
      <if test="tPraise != null">
        t_praise,
      </if>
      <if test="pId != null">
        p_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tId != null">
        #{tId,jdbcType=VARCHAR},
      </if>
      <if test="tContent != null">
        #{tContent,jdbcType=VARCHAR},
      </if>
      <if test="tImg != null">
        #{tImg,jdbcType=VARCHAR},
      </if>
      <if test="tCoordinate != null">
        #{tCoordinate,jdbcType=VARCHAR},
      </if>
      <if test="tPraise != null">
        #{tPraise,jdbcType=INTEGER},
      </if>
      <if test="pId != null">
        #{pId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.entity.reception.TInformation">
    update t_information
    <set>
      <if test="tContent != null">
        t_content = #{tContent,jdbcType=VARCHAR},
      </if>
      <if test="tImg != null">
        t_img = #{tImg,jdbcType=VARCHAR},
      </if>
      <if test="tCoordinate != null">
        t_coordinate = #{tCoordinate,jdbcType=VARCHAR},
      </if>
      <if test="tPraise != null">
        t_praise = #{tPraise,jdbcType=INTEGER},
      </if>
      <if test="pId != null">
        p_id = #{pId,jdbcType=VARCHAR},
      </if>
    </set>
    where t_id = #{tId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.entity.reception.TInformation">
    update t_information
    set t_content = #{tContent,jdbcType=VARCHAR},
      t_img = #{tImg,jdbcType=VARCHAR},
      t_coordinate = #{tCoordinate,jdbcType=VARCHAR},
      t_praise = #{tPraise,jdbcType=INTEGER},
      p_id = #{pId,jdbcType=VARCHAR}
    where t_id = #{tId,jdbcType=VARCHAR}
  </update>
</mapper>