<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.reception.TStoreMapper" >
  <resultMap id="BaseResultMap" type="com.jk.entity.reception.TStore" >
    <id column="t_id" property="tId" jdbcType="VARCHAR" />
    <result column="t_store_name" property="tStoreName" jdbcType="VARCHAR" />
    <result column="t_site" property="tSite" jdbcType="VARCHAR" />
    <result column="t_phone" property="tPhone" jdbcType="VARCHAR" />
    <result column="t_qr_code" property="tQrCode" jdbcType="VARCHAR" />
    <result column="t_create_time" property="tCreateTime" jdbcType="VARCHAR" />
    <result column="t_end_time" property="tEndTime" jdbcType="VARCHAR" />
    <result column="t_states" property="tStates" jdbcType="VARCHAR" />
    <result column="t_explain" property="tExplain" jdbcType="VARCHAR" />
    <result column="t_issuer" property="tIssuer" jdbcType="VARCHAR" />
    <result column="t_payment" property="tPayment" jdbcType="VARCHAR" />
    <result column="t_money" property="tMoney" jdbcType="VARCHAR" />
    <result column="t_views_num" property="tViewsNum" jdbcType="INTEGER" />
    <result column="t_collection_num" property="tCollectionNum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    t_id, t_store_name, t_site, t_phone, t_qr_code, t_create_time, t_end_time, t_states, 
    t_explain, t_issuer, t_payment, t_money, t_views_num, t_collection_num
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jk.entity.reception.TStore" >
    select
    <include refid="Base_Column_List" />
    from t_store
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_store
    where t_id = #{tId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.util.List" >
    delete from t_store
    where t_id in
    <foreach collection="list" item="ids" open="(" close=")" separator=",">
      '${ids}'
    </foreach>
  </delete>
  <insert id="insert" parameterType="com.jk.entity.reception.TStore" >
    insert into t_store (t_id, t_store_name, t_site, 
      t_phone, t_qr_code, t_create_time, 
      t_end_time, t_states, t_explain, 
      t_issuer, t_payment, t_money, 
      t_views_num, t_collection_num)
    values (#{tId,jdbcType=VARCHAR}, #{tStoreName,jdbcType=VARCHAR}, #{tSite,jdbcType=VARCHAR}, 
      #{tPhone,jdbcType=VARCHAR}, #{tQrCode,jdbcType=VARCHAR}, #{tCreateTime,jdbcType=VARCHAR}, 
      #{tEndTime,jdbcType=VARCHAR}, #{tStates,jdbcType=VARCHAR}, #{tExplain,jdbcType=VARCHAR}, 
      #{tIssuer,jdbcType=VARCHAR}, #{tPayment,jdbcType=VARCHAR}, #{tMoney,jdbcType=VARCHAR}, 
      #{tViewsNum,jdbcType=INTEGER}, #{tCollectionNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jk.entity.reception.TStore" >
    insert into t_store
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tId != null" >
        t_id,
      </if>
      <if test="tStoreName != null" >
        t_store_name,
      </if>
      <if test="tSite != null" >
        t_site,
      </if>
      <if test="tPhone != null" >
        t_phone,
      </if>
      <if test="tQrCode != null" >
        t_qr_code,
      </if>
      <if test="tCreateTime != null" >
        t_create_time,
      </if>
      <if test="tEndTime != null" >
        t_end_time,
      </if>
      <if test="tStates != null" >
        t_states,
      </if>
      <if test="tExplain != null" >
        t_explain,
      </if>
      <if test="tIssuer != null" >
        t_issuer,
      </if>
      <if test="tPayment != null" >
        t_payment,
      </if>
      <if test="tMoney != null" >
        t_money,
      </if>
      <if test="tViewsNum != null" >
        t_views_num,
      </if>
      <if test="tCollectionNum != null" >
        t_collection_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tId != null" >
        #{tId,jdbcType=VARCHAR},
      </if>
      <if test="tStoreName != null" >
        #{tStoreName,jdbcType=VARCHAR},
      </if>
      <if test="tSite != null" >
        #{tSite,jdbcType=VARCHAR},
      </if>
      <if test="tPhone != null" >
        #{tPhone,jdbcType=VARCHAR},
      </if>
      <if test="tQrCode != null" >
        #{tQrCode,jdbcType=VARCHAR},
      </if>
      <if test="tCreateTime != null" >
        #{tCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="tEndTime != null" >
        #{tEndTime,jdbcType=VARCHAR},
      </if>
      <if test="tStates != null" >
        #{tStates,jdbcType=VARCHAR},
      </if>
      <if test="tExplain != null" >
        #{tExplain,jdbcType=VARCHAR},
      </if>
      <if test="tIssuer != null" >
        #{tIssuer,jdbcType=VARCHAR},
      </if>
      <if test="tPayment != null" >
        #{tPayment,jdbcType=VARCHAR},
      </if>
      <if test="tMoney != null" >
        #{tMoney,jdbcType=VARCHAR},
      </if>
      <if test="tViewsNum != null" >
        #{tViewsNum,jdbcType=INTEGER},
      </if>
      <if test="tCollectionNum != null" >
        #{tCollectionNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.entity.reception.TStore" >
    update t_store
    <set >
      <if test="tStoreName != null" >
        t_store_name = #{tStoreName,jdbcType=VARCHAR},
      </if>
      <if test="tSite != null" >
        t_site = #{tSite,jdbcType=VARCHAR},
      </if>
      <if test="tPhone != null" >
        t_phone = #{tPhone,jdbcType=VARCHAR},
      </if>
      <if test="tQrCode != null" >
        t_qr_code = #{tQrCode,jdbcType=VARCHAR},
      </if>
      <if test="tCreateTime != null" >
        t_create_time = #{tCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="tEndTime != null" >
        t_end_time = #{tEndTime,jdbcType=VARCHAR},
      </if>
      <if test="tStates != null" >
        t_states = #{tStates,jdbcType=VARCHAR},
      </if>
      <if test="tExplain != null" >
        t_explain = #{tExplain,jdbcType=VARCHAR},
      </if>
      <if test="tIssuer != null" >
        t_issuer = #{tIssuer,jdbcType=VARCHAR},
      </if>
      <if test="tPayment != null" >
        t_payment = #{tPayment,jdbcType=VARCHAR},
      </if>
      <if test="tMoney != null" >
        t_money = #{tMoney,jdbcType=VARCHAR},
      </if>
      <if test="tViewsNum != null" >
        t_views_num = #{tViewsNum,jdbcType=INTEGER},
      </if>
      <if test="tCollectionNum != null" >
        t_collection_num = #{tCollectionNum,jdbcType=INTEGER},
      </if>
    </set>
    where t_id = #{tId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.entity.reception.TStore" >
    update t_store
    set t_store_name = #{tStoreName,jdbcType=VARCHAR},
      t_site = #{tSite,jdbcType=VARCHAR},
      t_phone = #{tPhone,jdbcType=VARCHAR},
      t_qr_code = #{tQrCode,jdbcType=VARCHAR},
      t_create_time = #{tCreateTime,jdbcType=VARCHAR},
      t_end_time = #{tEndTime,jdbcType=VARCHAR},
      t_states = #{tStates,jdbcType=VARCHAR},
      t_explain = #{tExplain,jdbcType=VARCHAR},
      t_issuer = #{tIssuer,jdbcType=VARCHAR},
      t_payment = #{tPayment,jdbcType=VARCHAR},
      t_money = #{tMoney,jdbcType=VARCHAR},
      t_views_num = #{tViewsNum,jdbcType=INTEGER},
      t_collection_num = #{tCollectionNum,jdbcType=INTEGER}
    where t_id = #{tId,jdbcType=VARCHAR}
  </update>
</mapper>