<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.reception.TStoreMapper">
  <resultMap id="BaseResultMap" type="com.jk.entity.reception.TStore">
    <id column="t_id" jdbcType="VARCHAR" property="tId" />
    <result column="t_store_name" jdbcType="VARCHAR" property="tStoreName" />
    <result column="t_site" jdbcType="VARCHAR" property="tSite" />
    <result column="t_phone" jdbcType="VARCHAR" property="tPhone" />
    <result column="t_qr_code" jdbcType="VARCHAR" property="tQrCode" />
    <result column="t_create_time" jdbcType="VARCHAR" property="tCreateTime" />
    <result column="t_end_time" jdbcType="VARCHAR" property="tEndTime" />
    <result column="t_states" jdbcType="VARCHAR" property="tStates" />
    <result column="t_explain" jdbcType="VARCHAR" property="tExplain" />
    <result column="t_issuer" jdbcType="VARCHAR" property="tIssuer" />
    <result column="t_payment" jdbcType="VARCHAR" property="tPayment" />
    <result column="t_money" jdbcType="VARCHAR" property="tMoney" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    t_id, t_store_name, t_site, t_phone, t_qr_code, t_create_time, t_end_time, t_states, 
    t_explain, t_issuer, t_payment, t_money
  </sql>
  <select id="selectByExample" parameterType="com.jk.entity.reception.TStoreExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from t_store
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_store
    where t_id = #{tId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_store
    where t_id = #{tId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jk.entity.reception.TStore">
    insert into t_store (t_id, t_store_name, t_site, 
      t_phone, t_qr_code, t_create_time, 
      t_end_time, t_states, t_explain, 
      t_issuer, t_payment, t_money
      )
    values (#{tId,jdbcType=VARCHAR}, #{tStoreName,jdbcType=VARCHAR}, #{tSite,jdbcType=VARCHAR}, 
      #{tPhone,jdbcType=VARCHAR}, #{tQrCode,jdbcType=VARCHAR}, #{tCreateTime,jdbcType=VARCHAR}, 
      #{tEndTime,jdbcType=VARCHAR}, #{tStates,jdbcType=VARCHAR}, #{tExplain,jdbcType=VARCHAR}, 
      #{tIssuer,jdbcType=VARCHAR}, #{tPayment,jdbcType=VARCHAR}, #{tMoney,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jk.entity.reception.TStore">
    insert into t_store
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tId != null">
        t_id,
      </if>
      <if test="tStoreName != null">
        t_store_name,
      </if>
      <if test="tSite != null">
        t_site,
      </if>
      <if test="tPhone != null">
        t_phone,
      </if>
      <if test="tQrCode != null">
        t_qr_code,
      </if>
      <if test="tCreateTime != null">
        t_create_time,
      </if>
      <if test="tEndTime != null">
        t_end_time,
      </if>
      <if test="tStates != null">
        t_states,
      </if>
      <if test="tExplain != null">
        t_explain,
      </if>
      <if test="tIssuer != null">
        t_issuer,
      </if>
      <if test="tPayment != null">
        t_payment,
      </if>
      <if test="tMoney != null">
        t_money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tId != null">
        #{tId,jdbcType=VARCHAR},
      </if>
      <if test="tStoreName != null">
        #{tStoreName,jdbcType=VARCHAR},
      </if>
      <if test="tSite != null">
        #{tSite,jdbcType=VARCHAR},
      </if>
      <if test="tPhone != null">
        #{tPhone,jdbcType=VARCHAR},
      </if>
      <if test="tQrCode != null">
        #{tQrCode,jdbcType=VARCHAR},
      </if>
      <if test="tCreateTime != null">
        #{tCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="tEndTime != null">
        #{tEndTime,jdbcType=VARCHAR},
      </if>
      <if test="tStates != null">
        #{tStates,jdbcType=VARCHAR},
      </if>
      <if test="tExplain != null">
        #{tExplain,jdbcType=VARCHAR},
      </if>
      <if test="tIssuer != null">
        #{tIssuer,jdbcType=VARCHAR},
      </if>
      <if test="tPayment != null">
        #{tPayment,jdbcType=VARCHAR},
      </if>
      <if test="tMoney != null">
        #{tMoney,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.entity.reception.TStore">
    update t_store
    <set>
      <if test="tStoreName != null">
        t_store_name = #{tStoreName,jdbcType=VARCHAR},
      </if>
      <if test="tSite != null">
        t_site = #{tSite,jdbcType=VARCHAR},
      </if>
      <if test="tPhone != null">
        t_phone = #{tPhone,jdbcType=VARCHAR},
      </if>
      <if test="tQrCode != null">
        t_qr_code = #{tQrCode,jdbcType=VARCHAR},
      </if>
      <if test="tCreateTime != null">
        t_create_time = #{tCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="tEndTime != null">
        t_end_time = #{tEndTime,jdbcType=VARCHAR},
      </if>
      <if test="tStates != null">
        t_states = #{tStates,jdbcType=VARCHAR},
      </if>
      <if test="tExplain != null">
        t_explain = #{tExplain,jdbcType=VARCHAR},
      </if>
      <if test="tIssuer != null">
        t_issuer = #{tIssuer,jdbcType=VARCHAR},
      </if>
      <if test="tPayment != null">
        t_payment = #{tPayment,jdbcType=VARCHAR},
      </if>
      <if test="tMoney != null">
        t_money = #{tMoney,jdbcType=VARCHAR},
      </if>
    </set>
    where t_id = #{tId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.entity.reception.TStore">
    update t_store
    set t_store_name = #{tStoreName,jdbcType=VARCHAR},
      t_site = #{tSite,jdbcType=VARCHAR},
      t_phone = #{tPhone,jdbcType=VARCHAR},
      t_qr_code = #{tQrCode,jdbcType=VARCHAR},
      t_create_time = #{tCreateTime,jdbcType=VARCHAR},
      t_end_time = #{tEndTime,jdbcType=VARCHAR},
      t_states = #{tStates,jdbcType=VARCHAR},
      t_explain = #{tExplain,jdbcType=VARCHAR},
      t_issuer = #{tIssuer,jdbcType=VARCHAR},
      t_payment = #{tPayment,jdbcType=VARCHAR},
      t_money = #{tMoney,jdbcType=VARCHAR}
    where t_id = #{tId,jdbcType=VARCHAR}
  </update>
</mapper>